@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{


    background-color:#EEEEEE
}

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
}
nav{
    width: 100%;
    height: 75px;
    background-color:#1951A8;
    line-height: 75px;
    padding: 0px 100px;
    position:fixed;
    z-index:1;
}
nav .logo{
    font-size: 30px;
    font-weight: bold ;
    letter-spacing: 3.0px;
    float:left;

}

nav .logo p{
    float: left;
   color: white ;
    text-transform: uppercase;
}

nav ul{
    float:right;
    color: white;
    text-space: 10;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding-left:2em;
    color: white;
    }

.sub-menu-1{
    display:none;

}

.nav ul li:hover .sub-menu-1{
    display:block;
    postion: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;

}



.container a {
    color: white;
    text-decoration: none;
}

.left{
    width:35%;
    float:left;
    height: 400px;
    background:white;
    broder-left:2px solid black;
    border: 1px solid black;
}

#subtitle{
    margin: auto;
    padding: 1.5%;
    position: relative;
    width: 90%;
    font-size: 1rem;
    padding-left: 0px;
}

#acctNameField{
    padding-top: 100px;
    margin: auto;
    width: 90%;
    position: relative;
    font-size: 1.5rem;
}

#balanceField{
    float: right;
}

#balanceAmt{
    font-family: Inconsolata;
    font-style: normal;
    font-size: 1.25rem;
}

#addTransactionButton{
    padding: 0.5%;
    padding-bottom: 0.75%;
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    position: relative;
    display: block;
}

#addTransactionBtnText{
    font-size: 1.25rem;
    display: inline;
}

#modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#modalContent{
    background-color: #EEE;
    margin: 20%;
    padding: 1.5%;
    width: 70%;
}

#modalTitle{
    font-size:1.5rem;
    float: left;
}

#modalHeader{
    height: 40px;
}

#closeModalBtn{
    display: inline;
    float: right;
    font-size: 2rem;
    font-family: sans-serif;
    font-style: normal;
    width: 40px;
    height: 40px;
}

#transactionSubmitBtn{
    font-size:1.25rem;
    padding: 1%;
    margin-top: 10px;
}

#modalFormTable{
    border: none;
    border-spacing: 20px 0px;
}

table.transactionListTable{
    width: 90%;
    padding-top: 150px;
    margin: auto;
    padding: 1.5%;
    position: relative;
    border-collapse: collapse;
}

table.transactionListTable th{
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(75, 84, 97);
    color: white;
    border: 2px solid black;
    padding: 1%;
}

table.transactionListTable td{
    border: 2px solid black;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.amount{
    font-family: 'Inconsolata', monospace;
    font-size: 1.25rem;
    text-align: right;
}

.negAmount{
    color: red;
}