@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{


    background-color:#EEEEEE
}

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
}
nav{
    width: 100%;
    height: 75px;
    background-color:#1951A8;
    line-height: 75px;
    padding: 0px 100px;
    position:fixed;
    z-index:1;
}
nav .logo{
    font-size: 30px;
    font-weight: bold ;
    letter-spacing: 3.0px;
    float:left;

}

nav .logo p{
    float: left;
   color: white ;
    text-transform: uppercase;
}

nav ul{
    float:right;
    color: white;
    text-space: 10;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding-left:2em;
    color: white;
    }

.sub-menu-1{
    display:none;

}

.nav ul li:hover .sub-menu-1{
    display:block;
    postion: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;

}



.container a {
    color: white;
    text-decoration: none;
}

.left{
    width:35%;
    float:left;
    height: 400px;
    background:white;
    broder-left:2px solid black;
    border: 1px solid black;
}

#title{
    margin: auto;
    padding: 1.5%;
    position: relative;
    width: 90%;
    font-size: 1.5rem;
    padding-top: 100px;
}

#acctNameField{
    padding-top: 100px;
    margin: auto;
    width: 90%;
    position: relative;
    padding: 1.5%;
    padding-top: 0%;
    font-size: 1rem;
}

table{
    width: 90%;
    padding-top: 150px;
    margin: auto;
    padding: 1.5%;
    position: relative;
    border-collapse: collapse;
}

th{
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(75, 84, 97);
    color: white;
    border: 2px solid black;
    padding: 1%;
}

td{
    border: 2px solid black;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.amount{
    font-family: 'Inconsolata', monospace;
    font-size: 1.25rem;
    text-align: right;
}

.negAmount{
    color: red;
}