@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body{


    background-color:#EEEEEE
}

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    height: 75px;
    background-color:#1951A8;
    line-height: 75px;
    padding: 0px 100px;
    position:fixed;
    z-index:1;
}
nav .logo{
    font-size: 30px;
    font-weight: bold ;
    letter-spacing: 3.0px;
    float:left;

}

nav .logo p{
    float: left;
   color: white ;
    text-transform: uppercase;
}

nav ul{
    float:right;
    color: white;
    -ms-text-kashida-space: 10;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding-left:2em;
    color: white;
    }

.sub-menu-1{
    display:none;

}

.nav ul li:hover .sub-menu-1{
    display:block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;

}



.container a {
    color: white;
    text-decoration: none;
}



